
.img-mobile{
    max-width: 400px;
    height: 600px;
    margin-left: 15%;
}
.text-muted{
    color: #979797;
    font-size: 18px;
    font-family: "IBM Plex Sans Arabic", serif;

    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.text-font{
    font-family: "IBM Plex Sans Arabic", serif;
}